<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }} —— go blog</title>
    <style type="text/css">.error {color: red;}</style>
</head>
<body>
    <p>ID: {{ .ID }}</p>
    <p>Title: {{ .Title }}</p>
    <p>Content: {{ .Body }}</p>

    {{ $idString := Uint64ToString .ID  }}
    <form action="{{ RouteName2URL "articles.delete" "id" $idString }}" method="post">
        <button type="submit" onclick="return confirm('delete sure ?')">Delete</button>
    </form>
</body>
</html>